.frameworks{
    margin-top: 3em;
}
.frameworkList h3{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
}
.frameworkList{
    margin-bottom: 0.6em;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 768px) {
    .frameworks{
        margin-top: 1.5em;
    }
    .frameworkList h3{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.2em;
        margin-bottom: 0.5em;
    }
    .frameworkList{
        margin-bottom: 0.4em;
        letter-spacing: 0.1em;
    }
}
@media only screen and (max-width: 320px) {
    .frameworkList h3{
        text-align: center;
    }
    .frameworkList{
        text-align: center;
    }
}