.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 1em auto;
    
}

.container p{
    text-align: justify;
    margin: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.container img{
    margin: auto 5em;
    width: 600px;
    height: 500px;
    border-radius: 15px;
}

@media only screen and (max-width: 1024px) {
    .container p{
        margin: 0;
        line-height: 1.5em;
        letter-spacing: 0px;
        font-size: 18px;
        text-align:justify;
    }
    .container img{
        width: 480px;
        height: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .container p{
        line-height: 1.5em;
        font-size: 16px;
        text-align: justify;
    }
    .container img{
        margin: auto 2em;
        width: 370px;
        height: 300px;
    }
}
@media only screen and (max-width: 320px) {
    .container{
        flex-direction: column;
    }
    .container p{
        line-height: 1.7em;
        font-size: 15px;
        text-align: justify;
    }
    .container img{
        margin: 3em 2em;
        width: 250px;
        height: 300px;
    }
}


